<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://kit.fontawesome.com/97089a475a.js"
            crossorigin="anonymous"
        ></script>
        <title>Before and after nonsense</title>
        <style>
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                margin: 20px;
            }

            ul {
                border: solid 1px lightblue;
                border-radius: 5px;
                width: fit-content;
                padding: 20px 30px 0 30px;
                text-align: center;
                margin: auto;
                margin-top: 40%;
                min-width: 420px;
            }

            li {
                margin-bottom: 30px;
                font-weight: bold;
                color: darkblue;
                list-style: none;
                position: relative;
            }

            i {
                float: right;
                margin-left: 20px;
            }

            .hidden {
                display: none;
            }

            .lighten {
                opacity: 0.5;
            }

            li::after {
                content: 'OR';
                display: block;
                margin-top: 5px;
                font-weight: lighter;
                color: lightblue;
                /* Position: absolute is required to remove the pseudoelement from the normal document flow */
                position: absolute;
                left: 145px;
                pointer-events: none;
            }

            li:last-of-type::after {
                content: none;
            }
        </style>
    </head>
    <body>
        <!-- mount app -->
        <div id="app">
            <ul id="filter-panel-list"></ul>
        </div>

        <!-- libraries -->
        <script src="jquery.js"></script>
        <script src="underscore.js"></script>
        <script src="backbone.js"></script>

        <!-- templates -->
        <script type="text/template" id="outdated-list-item-template">
            <li data-updated-panel-id="{{updatedPanelId}}">
                {{name}}
                <i
                    id="outdated-panel-warning-icon"
                    class="fa-solid fa-triangle-exclamation"
                ></i>
                <i
                    id="outdated-panel-replace-icon"
                    class="fa-solid fa-rotate hidden"
                ></i>
            </li>
        </script>

        <script type="text/template" id="current-list-item-template">
            <li data-updated-panel-id="{{updatedPanelId}}">
                {{name}}
                <i
                    id="outdated-panel-remove-icon"
                    class="fa-solid fa-remove"
                ></i>
            </li>
        </script>

        <!-- model/collection/view logic -->
        <script>
            const setTemplateSettings = () => {
                _.templateSettings = {
                    interpolate: /\{\{(.+?)\}\}/g,
                };
            };

            const FilterPanel = Backbone.Model.extend({});

            const FilterPanels = Backbone.Collection.extend({
                model: FilterPanel,
            });

            const audienceList = new FilterPanels();

            audienceList.add([
                new FilterPanel({
                    id: 1,
                    name: 'NBA Celtics 1',
                    updatedPanelId: 3,
                }),
                new FilterPanel({
                    id: 2,
                    name: 'Where is my sandwhich?',
                    updatedPanelId: 10,
                }),
                new FilterPanel({
                    id: 3,
                    name: 'NBA Celtics 3',
                    updatedPanelId: null,
                }),
                new FilterPanel({
                    id: 4,
                    name: 'Much Ado About Excellence',
                    updatedPanelId: null,
                }),
                new FilterPanel({
                    id: 5,
                    name: 'Dude its 23:42 you could go to sleep?',
                    updatedPanelId: 6,
                }),
                new FilterPanel({
                    id: 6,
                    name: 'But when youre on a roll, youre on a roll',
                    updatedPanelId: null,
                }),
                new FilterPanel({
                    id: 7,
                    name: 'Survey of midnight coders: are they clinical?',
                    updatedPanelId: 8,
                }),
                new FilterPanel({
                    id: 8,
                    name: 'Bringing it for Brandwatch',
                    updatedPanelId: null,
                }),
                new FilterPanel({
                    id: 9,
                    name: 'The New World Order & Brandwatch One',
                    updatedPanelId: null,
                }),
                new FilterPanel({
                    id: 10,
                    name: 'I cant believe someone ate my fucking sandwhich',
                    updatedPanelId: null,
                }),
            ]);

            let selectedAudienceList = new FilterPanels();
            selectedAudienceList.comparator = 'name';

            selectedAudienceList.add([
                new FilterPanel({
                    id: 1,
                    name: 'NBA Celtics 1',
                    updatedPanelId: 3,
                }),
                new FilterPanel({
                    id: 2,
                    name: 'Where is my sandwhich?',
                    updatedPanelId: 10,
                }),
                new FilterPanel({
                    id: 4,
                    name: 'Much Ado About Excellence',
                    updatedPanelId: null,
                }),
                new FilterPanel({
                    id: 5,
                    name: 'Dude its 23:42',
                    updatedPanelId: 6,
                }),
                new FilterPanel({
                    id: 7,
                    name: 'Survey of midnight coders: are they clinical?',
                    updatedPanelId: 8,
                }),
                new FilterPanel({
                    id: 9,
                    name: 'The New World Order & Brandwatch One',
                    updatedPanelId: null,
                }),
            ]);

            selectedAudienceList.sort();
            // TODO:
            // it needs to be able to handle the possibility that the outdated panel is multiple versions out of date,
            //    requiring recursion until latest is found, or we leave this to the user to click through

            const VIEW_SELECTORS = {
                OUTDATED_FILTER_PANEL: 'li[data-updated-panel-id]',
                UPDATE_PANEL_WARNING_ICON:
                    'li[data-updated-panel-id] #outdated-panel-warning-icon',
                UPDATE_PANEL_ICON:
                    'li[data-updated-panel-id] #outdated-panel-replace-icon',
                REMOVE_PANEL_ICON: '#outdated-panel-remove-icon',
            };

            const ListItemView = Backbone.View.extend({
                model: FilterPanel,

                el: $('li[data-updated-panel-id]'),

                constructor: function (data) {
                    this.template = _.template(
                        $(
                            data.model.get('updatedPanelId')
                                ? '#outdated-list-item-template'
                                : '#current-list-item-template'
                        )
                            .html()
                            .toString()
                    );
                    this.model = data.model;
                    return this;
                },

                render: function () {
                    setTemplateSettings();
                    this.$el = this.template(this.model.toJSON());
                    return this;
                },
            });

            const ListView = Backbone.View.extend({
                el: $('#filter-panel-list'),

                initialize: function () {
                    selectedAudienceList.on('update', this.render, this);
                },

                render: function () {
                    setTemplateSettings();

                    let lis = $('#filter-panel-list').empty();
                    console.log(lis);

                    selectedAudienceList.each((panel) => {
                        const { name, updatedPanelId } = panel.attributes;

                        this.$el.append(
                            new ListItemView({
                                model: panel,
                            }).render().$el
                        );
                    }, this);

                    return this;
                },
            });

            const AppView = Backbone.View.extend({
                el: $('#app'),

                render: function () {
                    this.$el.append(new ListView().render().el);
                    return this;
                },

                togglePanelReplaceIcons: function (e) {
                    if (
                        e.currentTarget.childNodes[1].classList.contains(
                            'fa-remove'
                        )
                    ) {
                        return;
                    }

                    e.currentTarget.children[0].classList.toggle('hidden');
                    e.currentTarget.children[1].classList.toggle('hidden');
                },

                toggleOpacity: function (e) {
                    e.currentTarget.classList.toggle('lighten');
                },

                replaceOutdatedPanel: function (updatedPanelId) {
                    const panelToReplace = selectedAudienceList.findWhere({
                        updatedPanelId: Number.parseInt(updatedPanelId),
                    });

                    selectedAudienceList.remove(panelToReplace);

                    const newPanel = audienceList.findWhere({
                        updatedPanelId: Number.parseInt(updatedPanelId),
                    });

                    selectedAudienceList.add(newPanel);
                },

                events: {
                    [`mouseenter ${VIEW_SELECTORS.OUTDATED_FILTER_PANEL}`]:
                        function onMouseEnterOutdatedPanel(e) {
                            this.togglePanelReplaceIcons(e);
                        },

                    [`mouseleave ${VIEW_SELECTORS.OUTDATED_FILTER_PANEL}`]:
                        function onMouseLeaveOutdatedPanel(e) {
                            this.togglePanelReplaceIcons(e);
                        },

                    [`mouseenter ${VIEW_SELECTORS.REMOVE_PANEL_ICON}`]:
                        function (e) {
                            this.toggleOpacity(e);
                        },

                    [`mouseleave ${VIEW_SELECTORS.REMOVE_PANEL_ICON}`]:
                        function (e) {
                            this.toggleOpacity(e);
                        },

                    [`click ${VIEW_SELECTORS.UPDATE_PANEL_ICON}`]: function (
                        e
                    ) {
                        const updatedPanelId =
                            e.currentTarget.parentElement.attributes[0].value;

                        if (updatedPanelId) {
                            this.replaceOutdatedPanel(updatedPanelId);
                        }
                    },
                },
            });

            const app = new AppView();
            app.render();
        </script>
    </body>
</html>
