<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="position.css" />
        <title>CSS Positioning</title>
    </head>
    <body>
        <main>
            <div class="nav box">
                <ul class="nav-links-left">
                    <li class="nav-item box">nav item</li>
                    <li class="nav-item box">nav item 2</li>
                    <li class="nav-item box">nav item 3</li>
                </ul>
                <ul class="nav-links-right">
                    <li class="nav-item box">LOGO</li>
                </ul>
            </div>
            <div class="hero box">
                <h1 class="hero-title">Welcome to KittyBlades</h1>
                <h2 class="hero-subtitle">
                    Your one stop shop for all kinds of cat violence
                </h2>
                <img src="https://via.placeholder.com/350" alt="" />
            </div>
            <div class="card-container">
                <div class="card box">
                    <div class="title-container">
                        <h3 class="card-title">Services</h3>
                    </div>
                    <p class="card-body">
                        Your bones don't break, mine do. That's clear. Your
                        cells react to bacteria and viruses differently than
                        mine. You don't get sick, I do. That's also clear. But
                        for some reason, you and I react the exact same way to
                        water. We swallow it too fast, we choke. We get some in
                        our lungs, we drown. However unreal it may seem, we are
                        connected, you and I. We're on the same curve, just on
                        opposite ends.
                    </p>
                    <ul class="card-list">
                        <li class="card-list-iem">service 1</li>
                        <li class="card-list-item">service 2</li>
                        <li class="card-list-item">service 3</li>
                        <li class="card-list-item">service 4</li>
                        <li class="card-list-item">service 5</li>
                        <li class="card-list-item">service 6</li>
                    </ul>
                </div>
                <div class="card box">
                    <h3 class="card-title">assassins</h3>
                </div>
            </div>
            <div class="footer box">
                <ul class="nav-links-right">
                    <li class="nav-item box">t & c's</li>
                    <li class="nav-item box">legal</li>
                    <li class="nav-item box">bonus</li>
                </ul>
            </div>
        </main>
    </body>
</html>
