html {
    font-size: 16px;
    font-family: monospace;
    overflow: auto;
    text-transform: lowercase;
}

div {
    margin: 0.75rem 0.75rem 0 0.75rem;
    /* vertical-align: text-bottom;s */
    text-align: center;
}

main {
    height: 100vh;
    margin: 0.5rem;
    position: relative;
}

.nav {
    position: relative;
    min-height: 6rem;
    text-align: left;
}

.nav-links-left {
    display: inline-block;
    position: relative;
    top: 1rem;
    left: 1rem;
}

.nav-links-right {
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav-item {
    display: inline-block;
    padding: 0.5rem;
}

.nav-logo {
    top: 2rem;
}

.box {
    border: solid 2px darkgray;
}

.hero {
    min-height: 42.5vh;
    /* text-align: inherit; */ /* can't use inherit, as this would inherit from main, which is left */
}

.hero > .hero-title {
    margin-top: 1rem;
    font-size: 2.5rem;
}

.hero > .hero-subtitle {
    margin: 1rem auto;
    max-width: 50%;
    color: gray;
}

.card-container {
    min-height: 35vh;
    margin: auto;
}

.card {
    min-width: 44vw;
    display: inline-block;
    min-height: 35vh;
    /* height: 35vh; */
}

.footer {
    position: relative;
    text-align: right;
    min-height: 4rem;
}

.footer > .nav-links-right > .nav-item {
    font-size: 0.75rem;
    padding: 0.2rem;
}

@media screen and (max-width: 505px) {
    .nav-item {
        display: block;
    }

    .nav {
        min-height: 9rem;
    }

    .nav-links-right {
        /* display: block; */
        /* position: absolute; */
        /* top: 1rem; */
        /* right: 1rem;footer */
    }
}
