<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="reset.css" />
        <link rel="stylesheet" href="position.css" />
        <title>CSS Positioning</title>
    </head>
    <body>
        <main>
            <div class="nav box">
                <ul class="nav-links-left">
                    <li class="nav-item box">nav item</li>
                    <li class="nav-item box">nav item 2</li>
                    <li class="nav-item box">nav item 3</li>
                </ul>
                <ul class="nav-links-right">
                    <li class="nav-item box">LOGO</li>
                </ul>
            </div>
            <div class="hero box">hero</div>
            <div class="card-container">
                <div class="card box">card 1</div>
                <div class="card box">card 2</div>
            </div>
            <div class="footer box">
                <ul class="nav-links-right">
                    <li class="nav-item box">link 1</li>
                    <li class="nav-item box">link 2</li>
                    <li class="nav-item box">link 3</li>
                </ul>
            </div>
        </main>
    </body>
</html>
