* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    height: 100%;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

main {
    flex: 1;
}
